body{
    margin: 0;
    background-image: radial-gradient(red, green, blue);
    background-size: auto;

.img {
  opacity: 0.5;
}

}

h1{
    text-align: center;
    font-size: 55px;
}

/* Macete para alinhar uma imagem no centro */
.banner{
    width: 50%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

.img{
  opacity: 50%;

}

}
.margin{
    margin: 0 5%;
}

#imagem10{
    border: 1px solid red;
}

section{
    text-align: justify;
}

footer{
    font-size: 10px;
    text-align: center;
}
